<!DOCTYPE html>
<html>
<head>
    {% block stylesheets %}
        <link href="{{ asset('web/styles/error.css') }}" rel="stylesheet" type="text/css"/>
    {% endblock %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <script src="https://unpkg.com/react/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone/babel.js"></script>

    <title>S COUT</title>
</head>
<body>
<div class="error-header"> 
  </div> 
  <div class="container "> 
   <section class="error-container text-center"> 
    <h1>500</h1> 
    <div class="error-divider"> 
     <h2>INTERNAL SERVER ERROR.</h2> 
     <p class="description">Przepraszamy za niedogodności</p> 
    </div> 
    <a href=" " class="return-btn"><i class="fa fa-home"></i> Wróć </a> 
   </section> 
  </div> 
    
</body>
</html>