
{% extends 'main/parent-admin.html.twig' %}
   
{% block body %}
    
    {#start #}
      <div class="post">
          <h6 style="margin: 0px;">Status?</h6>
                <h5 style="margin-top: 5px; margin-bottom: 5px;">AUTOR ↔ DATA</h5>
          <h4 style="margin: 0px; color:">NAZWA</h4>
                    <p> treść powodu
          </p>
                    <div class="buttons">
                     
                    <button class="NOPE">Odrzuć</button>
                    <button class="YEP">Akceptuj</button>
                </div>
  
    
                </div>
                
                <br>
                
                {# stop #}
    
     {% endblock %}