{% extends 'main/parent.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('web/styles/messages.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('web/styles/style.css') }}" rel="stylesheet" type="text/css"/>
    <script src="{{ asset('web/scripts/jquery-3.4.1.min.js') }}"></script>
{% endblock %}



{% block body %}



    
    {# for #}
        <div class="comment">
            <a href=" "> <img id="comment-avatar-left"
                    src=" "
                      width="70" height="70"></a>

            
            <p class="project-title"
               href=" ">Autor</p>
            ✽ Data

            

            <p class="comment-content">Siema kotku :3</p>
           
            <button class="button"> Przejdź do konwersacji </button>
            
        </div>
    {#  enfor #}


    <script>
        $(document).ready(function () { });


    </script>



{% endblock %}