<h3>Change password</h3>

Hi {{ name }}! There was a request to change your account password!

To change password, click  <a href="{{ changePasswordUrl }}">here</a>.

If you don't know, why you have received this email, ignore this email.

Greetings,
Scout Team
