
{% extends 'main/parent.html.twig' %}


    {% block stylesheets %}
        <link href="{{ asset('web/styles/main.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('web/styles/style.css') }}" rel="stylesheet" type="text/css"/>
    {% endblock %}


{% block body %}

    
            <div class="post">
                <a href=""><img id="project-avatar" src="{{ asset('web/images/kot.jpg') }}" width="70" height="70"></a>

                <a class="project-title" href=" ">Tytuł Projektu</a><br>
                <a class="project-lang" href=" ">Technologie Projektu</a>
                <a class="project-autors" href=" ">Autorzy Projektu</a>
            </div>


   
{% endblock %}