{# templates/emails/registration.html.twig #}
<h3>You did it! You registered!</h3>

Hi {{ name }}! Thank you for joining S-Cout community!

{# example, assuming you have a route named "login" #}
To finish your registration, please, click  <a href="{{ verificationUrl }}">here</a>.

Thanks!
