
html {
  background-color: #7DA2AA;
    
  font-family: Verdana;
}


.row{
    width: auto;
    
}


.block{
  background-color: rgba(255,255,255,0.2);
  float: left;
  margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10%;
  width: 40%;
  opacity: 0.97;
  padding: 10px;
  text-align: center;
  border: 0.5px solid white;
}



.block form input{
    width: 80%;
    margin-bottom: 5px;
    background-color: white;
}
    

.block p{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

#button-log{
    background-color: #254e58;
    border: none;
   width: 80%;
    height: 30px;
    margin-top: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
      opacity: 0.9;
}

#button-log:hover{
    opacity: 1;
}


body {
  width: auto;
  margin: 0 auto;
  background-color: white;
}


* {box-sizing: border-box}
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background-color: white;
}

