
html {
  background-color: ghostwhite;
    
}

header{
    background-color: #3D6090;
    color: floralwhite;
    text-decoration: none;
    font-size: 30px;
    height: 40px;
    width: 100%;
    min-width: 1400px;
    position: fixed;
    top: 0px;
}

.alogo{
    color: white;
    text-decoration: none;
    font-size: 30px;
   padding: 0 0 0 200px;
    
}

.alogo:hover{
    color: black;
    
}

#searchbar{
    color:black;
    background-color: white;
    margin-top: -26px;
    margin-right: 100px;
    float: right;
    width: 220px
}

header button{
  background: none;
  color: white;
    margin-top: -27px;
    margin-right: 69px;
    float: right;
  font-size: 18px;
  border: none; 
  cursor: pointer;
    
}

header button:hover{
    color: lightgrey;
}

.anavig{
    color: black;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
}

.columnLeft{
    margin-top: -40px;
    position: -webkit-sticky;
    position: sticky;
    top: 40px;
    margin-left: 100px;
    float: left;
    
}

#navigation{
  background-color: #D2DBDA;
  float: left;
  width: 300px;
  border: 3px solid #3F4F6E;
  border-radius: 5px;
  box-shadow: 1px 2px 4px black;
  padding: 10px;
  font-family: monospace;
    
}
#ilogo{
    overflow:visible;
    margin-left: 30px;
}

#navigation-avatar{
    border: 2px solid #3F4F6E;
    border-radius: 100px;
    object-fit: cover;
    float:left;
}

.navico{
  background: none;
  color: black;
  font-size: 25px;
  border: none; 
  cursor: pointer;
}

.navico:hover{
    box-shadow: 1px 1px 1px black;
}

.columnRight{
    
}

#contents{
  background-color: #D2DBDA;
  float:none;
  width: 700px;
  margin-left: 520px;
  margin-top: 80px;
  border: 3px solid #3F4F6E;
  border-radius: 5px;
  box-shadow: 1px 2px 4px black;
  padding: 10px;
  min-height: 2300px;
    
}

.post{
    background-color: #EBEBEB;
    height: 85px;
    
    overflow: hidden;;
}

#project-avatar{
    border: 3px solid #3F4F6E;
    float:left;
    margin: 5px;
    object-fit:cover;
    
}

.project-title{
    text-decoration: none;
    color: #0E1D42;
    font-size: 28px;
    font-weight: bold;
    margin: 10px;
}
.project-lang{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 13px;
}
.project-autors{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-right: 5px;
    margin-top: 20px;
    float:right;
    font-style: italic;
}
body {
  width: auto;
  margin: 0 auto;
  background-color: ghostwhite;
}





img {
  
}
