
#profile{
    margin-top: 0px;
    width: 100%;
    float: left;
    background: rgba(235,235,235,0.4);
    border:1px solid #7DA2AA;
    min-height: 300px;
    overflow: hidden;
    text-align: justify;
}

#profile-picture{
    margin: 10% 10% 10% 10%;
    border: 1.5px solid #7DA2AA;
    object-fit: cover;
}

.profile-left{
    float: left;
    width: 40%;
}

.profile-right{
    float: left;
    width:  60%;
    
}
#edit-mode{
    opacity: 0.5;
}
#name-profile{ 
    color: #7DA2AA;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.form-post{
    
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

#post-avatar{
    margin: 5px;
    border: 1px solid #7DA2AA;
    border-radius: 100px;
    object-fit: cover;
    float:left;
}

.form-control{
    width: 75%;
    margin-top: 16px;
    resize: none;
    border-radius: 5px;
    height: 50px;
}

.button-post{
    float: right;
    margin-top: 17px;
    height: 50px;
    padding: 10px;
  background-color: #EBB3B4; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
    opacity: 0.85;
    
}

.button-post:hover{
    opacity: 1;
}

.message-ico{
    float: right;
}

#mess{
    width: 100%;
    float:left;
    margin-top: 5px;
    margin-bottom: 5px;
}

#comment-avatar{
    margin: 5px;
    border: 1px solid #7DA2AA;
    border-radius: 100px;
    object-fit: cover;
    float:left;
    
}
    
.project-title{
    text-decoration: none;
    color: #4f4a41;
    font-size: 20px;
    font-weight: bold;
    margin: 1px;
    display:contents;
}


.comment{
    background-color: rgba(235,235,235,0.4);
    min-height: 85px;
    ---max-height: 1000px;
    border: 1px solid #7DA2AA;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 5px;
    
    
    
    
}

.comment:hover{
    background-color: rgba(235,235,235,0.2);
    
}

.comment-content{
    margin: 1px;
    text-align: justify;
}

.comment-image img{  
  margin: 4px;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    cursor: zoom-in;
}

.comment-image img:hover{  
  opacity: .8;
}

.comment-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

p{
    padding-right: 5%;
    padding-left: 5%;
}


hr{
    width: 90%;
}

.infos{
    text-align: center;
    font-weight: bold;
    color:darkgray;
}
.photo-textarea{
    position: relative;
}
.photo-textarea i{
    position: absolute;
    float:right;
    margin-left: -40px;
    margin-top: 50px;
    color: grey;
}
.photo-textarea i:hover{
    color: #7DA2AA;
}
.photo-textarea button {
	position: absolute;
    float:right;
    margin-left: -115px;
    margin-top: 49px;
    width: 70px;
    height: 18px;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: grey;
    opacity: 0.2;
}
.photo-textarea button:hover{
    opacity: 0.6;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal::-webkit-scrollbar {
    display: none;
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  margin-left: 42%;
  padding: 20px;
  border: 1px solid #888;
  
    min-width: 500px;
    width: 35%;
}

.modal textarea{
    width: 97%;
    height: 80px;
}
.buttons{
    display: block;
    height: 23px;
    margin: auto;
    width: 90%;
    padding-bottom: 5px;
}
.button{
  margin-top: 5px;
    margin-bottom: 5px;
  padding: 10px 16px;
  background-color: #B22222;
  border: none;
    float:left;
    width: 48%;
     opacity: 0.9;
    color: white;
}
.modal .button:hover{
     opacity: 1;
}
#send-btn{
    float:right;
     background-color: #254e58;
}
.modal p{
    margin-bottom: -12px;
    margin-left: -20px;
    margin-top: -10px;
}
.modal a{
    text-decoration: none;
    color: #7DA2AA;
    font-weight: bold;
}
.reportico{
    float:right;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: darkred;
    font-size: 16px;
}
.reportico:hover{
 color: #AF0000;   
}
.TechReq{width: 95%; margin-right:5%;}
#ReqButton{float: right; background-color: #7c8ea3;
width: 40%;}
h4{float:left; size: 12px;
    width:50%;
    margin-left:5%;
margin-top: 15px;}