
#profile{
    margin-top: 0px;
    width: 100%;
    float: left;
    background: rgba(235,235,235,0.4);
    border:1px solid #7DA2AA;
    min-height: 300px;
    overflow: hidden;
    text-align: justify;
}

#profile-picture{
    margin: 5px;
    border: 1.5px solid #7DA2AA;
    object-fit: cover;
}

.profile-left{
    float: left;
    width: 40%;
}

.profile-right{
    float: left;
    width:  60%;
    
}


#name-profile{ 
    color: #7DA2AA;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.form-post{
    
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

#post-avatar{
    margin: 5px;
    border: 1px solid #7DA2AA;
    border-radius: 100px;
    object-fit: cover;
    float:left;
}

.form-control{
    width: 75%;
    margin-top: 16px;
    resize: none;
    border-radius: 5px;
    height: 50px;
}

.button-post{
    float: right;
    margin-top: 17px;
    height: 50px;
    padding: 10px;
  background-color: #EBB3B4; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
    opacity: 0.85;
    
}

.button-post:hover{
    opacity: 1;
}

#message-ico{
    float: right;
}

#mess{
    width: 100%;
    float:left;
    margin-top: 5px;
    margin-bottom: 5px;
}

#comment-avatar{
    margin: 5px;
    border: 1px solid #7DA2AA;
    border-radius: 100px;
    object-fit: cover;
    float:left;
    
}
    
.project-title{
    text-decoration: none;
    color: #4f4a41;
    font-size: 20px;
    font-weight: bold;
    margin: 1px;
    display:contents;
}


.comment{
    background-color: rgba(235,235,235,0.4);
    height: 85px;
    border: 1px solid #7DA2AA;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 5px;
}

.comment:hover{
    background-color: rgba(235,235,235,0.2);
    
}

.comment-content{
    margin: 1px;
    text-align: justify;
}

p{
    padding-right: 5%;
    padding-left: 5%;
}


hr{
    width: 90%;
}

.infos{
    text-align: center;
    font-weight: bold;
    color:darkgray;
}
.photo-textarea{
    position: relative;
}
.photo-textarea i{
    position: absolute;
    float:right;
    margin-left: -25px;
    margin-top: 50px;
    color: grey;
}
.photo-textarea i:hover{
    color: #7DA2AA;
}
.photo-textarea button {
	position: absolute;
    float:right;
    margin-left: -100px;
    margin-top: 49px;
    max-width: 70px;
    max-height: 20px;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: grey;
    opacity: 0.4;
}
.photo-textarea button:hover{
    opacity: 0.6;
}