
.edit-profile{
    background-color: rgba(235,235,235,0.2);
    border: 3px dashed  #7DA2AA;
    padding: 5%;
    text-align: center;
}


.name {
  width: 250px;
  background-color: white;
  border: 1px solid #7DA2AA;
  padding: 4px;

}
.name_div{ 
   float: left;
   margin-left: 3%;
    margin-top: -55px;
}
.upload{
    background-color: #7DA2AA;
    border-radius: 5px;
    border: none;
    width: 50%;
    height: 30px;
    color: white;
}

.upload:hover{ 
    color: white;
    box-shadow: 0 0 8px #7DA2AA;
}
.smaller{
    width: 30%;
    margin: 3px;
}

.bio{
    width: 90%;
    padding: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #7DA2AA;
    resize: none;
}

.forms{
    margin-left: 5px;
    width: 100%;
}


#photo-edit{
    margin-left: 2%;
    float:left;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}
#photo-edit:hover{
	opacity: 0.8;
}

.btad{
    background-color: #F8F9F9;
    color: #7DA2AA;
    text-align: center;
    font-size: 20px;
    border-radius: 500px;
    border: none;
    width: 30px;
}

.opis{
    margin-bottom: 0px;
}

.info{
    
   
}

#up{
   
    height: 160px
}


#photo{
    margin-left: 1%;
}