
.post{
    background-color: rgba(235,235,235,0.4);
    height: 85px;
    border: 1px solid #7DA2AA;
    overflow: hidden;
}

.post:hover{
    background-color: rgba(235,235,235,0.2);
    
}

#project-avatar{
    border: 2px solid #7DA2AA;
    float:left;
    margin: 5px;
    object-fit:fill;
    
}

#user-avatar{
    border: 2px solid #7DA2AA;
    border-radius: 50px;
    float:left;
    margin: 5px;
    object-fit:fill;
    
}

.project-title{
    text-decoration: none;
    color: #7DA2AA;
    font-size: 28px;
    font-weight: bold;
    margin: 10px;
}
.project-lang{
    text-decoration: none;
    color: #17252A;
    font-size: 20px;
    margin: 13px;
}
.project-autors{
    text-decoration: none;
    color: #17252A;
    font-size: 20px;
    margin-right: 5px;
    margin-top: 20px;
    float:right;
    font-style: italic;
}

.filter{
  background-color: rgba(255,255,255,0.8);
  border: 1px solid #7DA2AA;
  padding: 10px;
    margin-top: 50%;
    width: 300px;
}

.title{
    text-decoration: none;
    color: #7DA2AA;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.bio-title{
    text-align: center;
    padding-bottom: 5px;
    margin-right: 5px;
}

.bio{
    width: 70%;
    float: right;
}

.sort{
    text-align: center;
}

.btn-search{
    margin-top: 20px;
}

#upload{
    background-color: #7DA2AA;
    border-radius: 5px;
    border: none;
    width: 50%;
    height: 30px;
    color: white;
}

#upload:hover{ 
    color: white;
    box-shadow: 0 0 8px #7DA2AA;
}

#usr-post{
    height: 100px;
}