
html {
  background-color: #ECF0F1;
     min-width: 1200px; margin: 0 auto; overflow: auto;
}

header{
    background-color: #7DA2AA;
    color: floralwhite;
    text-decoration: none;
    font-size: 30px;
    height: 40px;
    width: 100%;
    top: 0px;
}

.header-tab{
    float:left;
    width: 25%;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
    text-align: center;
}

#search-tab:hover{
    border-bottom: 2px solid white;
}

.alogo{
    color: white;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    
}

.header-tab:hover{
    border-bottom: 5px solid white;
    text-shadow: 1px 1px 2px white;
}

#searchbar{
    color:black;
    background-color: white;
    margin-top: -26px;
    width: 70%;
    border-radius: 7px;
}

#search-button{
  background: none;
  color: white;
    margin-top: -27px;
    margin-right: 69px;
    float: right;
  font-size: 18px;
  border: none; 
  cursor: pointer;
    
}

#search-button:hover{
    color: black;
}

.anavig{
    color: black;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
}



.columnLeft{
    margin-top: -40px;
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    margin-left: 7%;
    float: left;
}

#navigation{
  float: left;
  width: 300px;
  background-color: rgba(255,255,255,0.8);
  border: 1px solid #7DA2AA;
  padding: 10px;
    
}

.logout{
    color:black;
    text-decoration: none;
}

.logout:hover{
    border-bottom: 1px solid black;
}

#ilogo{
    overflow:visible;
    margin-left: 30px;
}   

#navigation-avatar{
    border: 1px solid #7DA2AA;
    border-radius: 100px;
    object-fit: cover;
    float:left;
}

.navico{
  background: none;
  color: #112d32;
  font-size: 25px;
  border: none; 
  cursor: pointer;
}

.navico:hover{
    color: #7DA2AA;
}

.columnRight{
    min-width: 700px;
    margin-left: 37%;
    margin-right: 15%;
  margin-top: 80px;
}

#contents{
  float:none;
  
  background-color: rgba(255,255,255,0.8);
  border: 1px solid #7DA2AA;
  padding: 10px;
  min-height: 600px;     /* to tylko do testowania czy sie scrolluje ladnie */
    
}
    

body {
  width: auto;
  margin: 0 auto;
   ---background: rgba(255,255,255,0.25);
}


.navs{
    margin-left: 123px;
}


img {
  
}
