index:
    path: /
    controller: App\Controller\LoginController::indexAction

create_user:
    path:       /create_user
    controller: App\Controller\LoginController::createUserAction
    methods:    POST

authenticate_account:
    path: authenticate_accout/{username}/{authenticationLink}
    controller: App\Controller\LoginController::authenticateUserAction

email_confirmation_sent:
    path: email_confirmation_sent
    controller: App\Controller\LoginController::emailConfirmationSentAction

user_exists:
    path: user_exists/{username}
    controller: App\Controller\LoginController::userExistsAction

login_user:
    path:       /login_user
    controller: App\Controller\LoginController::loginAction
    methods:    POST

main:
    path: /main
    controller: App\Controller\MainController::mainAction

app_logout:
    path: /logout
    methods: GET

login_email:
    path: /login_email
    controller: App\Controller\LoginController::loginEmailAction
    methods: POST

change_password:
    path: change_password/{username}/{changePasswordLink}
    controller: App\Controller\LoginController::changePasswordAction

email_change_password:
    path:       /email_change_password
    controller: App\Controller\LoginController::changePasswordEmailAction
    methods:    POST

submit_password_change:
    path: /change_password
    controller: App\Controller\LoginController::submitChangePasswordAction
    methods: POST

user_profile:
    path: /profile/{username}
    controller:  App\Controller\ProfileController:profileIndexAction

create_wall_post:
    path: /create_wall_post
    controller:  App\Controller\ProfileController:createPostOnWall
    methods: POST

filter_city_names:
    path: /filter/city/{prefix}/{limit<\d+>?5}
    controller: App\Controller\FilterController:getCityNameFilterAction
    methods: GET

filter_country_names:
    path: /filter/country/{prefix}/{limit<\d+>?5}
    controller: App\Controller\FilterController:getCountryNameFilterAction
    methods: GET

filter_language_names:
    path: /filter/language/{prefix}/{limit<\d+>?5}
    controller: App\Controller\FilterController:getLanguageNameFilterAction
    methods: GET

filter_technology_names:
    path: /filter/technology/{prefix}/{limit<\d+>?5}
    controller: App\Controller\FilterController:getTechnologyNameFilterAction
    methods: GET

filter_project_names:
    path: /filter/project/{prefix}/{limit<\d+>?5}
    controller: App\Controller\FilterController:getProjectNameFilterAction
    methods: GET