index:
    path: /
    controller: App\Controller\LoginController::indexAction

create_user:
    path:       /create_user
    controller: App\Controller\LoginController::createUserAction
    methods:    POST

authenticate_account:
    path: authenticate_accout/{username}/{authenticationLink}
    controller: App\Controller\LoginController::authenticateUserAction

email_confirmation_sent:
    path: email_confirmation_sent
    controller: App\Controller\LoginController::emailConfirmationSentAction

user_exists:
    path: user_exists/{username}
    controller: App\Controller\LoginController::userExistsAction
